---
import type { HTMLAttributes } from "astro/types";

import Icon from "@/components/ui/icon.astro";
import type { IconName } from "@/lib/lucide";

interface Props extends HTMLAttributes<"div"> {
  icon: IconName;
  title: string;
}

const { icon, title, ...props } = Astro.props;
---

<div
  id="nav-card"
  data-selected="false"
  class={`group rounded-xl p-4 transition-all 
  data-[selected=true]:bg-white data-[selected=true]:shadow data-[selected=false]:hover:bg-white/50
  dark:data-[selected=true]:bg-white/5 dark:data-[selected=false]:hover:bg-white/5`}
  {...props}
>
  <div class="grid grid-cols-10 gap-4">
    <div class="grid justify-center pt-1">
      <Icon
        class="mt-1 size-7 group-data-[selected=true]:text-primary"
        icon={icon}
      />
    </div>
    <div class="col-span-9 grid gap-1">
      <h3
        class="text-pretty text-lg font-bold group-data-[selected=true]:text-primary"
      >
        {title}
      </h3>
      <p
        class="text-muted-foreground group-data-[selected=true]:text-card-foreground"
      >
        <slot />
      </p>
    </div>
  </div>
</div>
