---
import MainLayout from "@/layouts/main-layout.astro";
import Button from "@/components/ui/button.astro";
import Icon from "@/components/ui/icon.astro";

import HeroSection from "./_index/hero-section.astro";
import FeaturesNavigation from "./_index/features-navigation.astro";
import ClientsSection from "./_index/clients-section.astro";
import FeatureSection from "./_index/features-section.astro";
import HeroTitle from "./_index/hero-section/hero-title.astro";
import HeroSubtitle from "./_index/hero-section/hero-subtitle.astro";
import Meta from "@/components/meta.astro";
---

<MainLayout>
  <Meta
    title="Home - Emre Can Çorapçı"
    description="Build faster websites with less client-side Javascript"
    keywords="astro, svelte, react, vue, static site generator, ssr, server side rendering, jamstack"
    author="Emre Can Çorapçı"
    slot="meta"
  />
  <div class="grid gap-8 py-4">
    <HeroSection rating={4.8} reviews="12.8k">
      <HeroTitle slot="title">Equip Your Projects with ScrewFast</HeroTitle>
      <HeroSubtitle slot="subtitle">
        Astro is a new kind of static site generator that delivers
        lightning-fast performance with a modern developer experience.
      </HeroSubtitle>
      <div class="grid grid-cols-2 gap-4" slot="button-section">
        <Button class="group justify-center text-base">
          Start Exploring
          <Icon
            class="transition-all duration-300 group-hover:translate-x-2"
            icon="chevron-right"
          />
        </Button>
        <Button class="text-base">Contact Sales Team</Button>
      </div>
      <div class="bg-primary" slot="right-section"></div>
    </HeroSection>
    <ClientsSection
      title="Trusted by Industry Leaders"
      subTitle="Experience the reliability chosen by industry giants."
    />
    <FeatureSection
      cards={[
        {
          id: 1,
          icon: "users-round",
          title: "Dedicated Teams",
          subtitle: `Benefit from our committed teams who ensure your success is personal.
        Count on expert guidance and exceptional results throughout your project
        journey.`,
        },
        {
          id: 2,
          icon: "badge-check",
          title: "Simplicity and Affordability",
          subtitle: `Benefit from our committed teams who ensure your success is personal.
        Count on expert guidance and exceptional results throughout your project
        journey.`,
        },
        {
          id: 3,
          icon: "scroll-text",
          title: "Comprehensive Documentation",
          subtitle: `Integrate with ease using ScrewFast's exhaustive guides and libraries.
        Achieve seamless product adoption with our full suite of documentation
        designed for your success.`,
        },
        {
          id: 4,
          icon: "square-user-round",
          title: "User-Centric Design",
          subtitle: `Experience the difference with ScrewFast's user-focused design — where
        functionality meets practicality for an enhanced work experience.`,
        },
      ]}
    />
    <FeaturesNavigation
      title="Customize ScrewFast's offerings to perfectly suit your hardware and construction needs."
      cards={[
        {
          id: 1,
          icon: "pencil-ruler",
          title: "Cutting-Edge Tools",
          subTitle: `Empower your projects with ScrewFast's cutting-edge tools. Experience
        enhanced efficiency in construction management with our sophisticated
        automated solutions.`,
        },
        {
          id: 2,
          icon: "layout-dashboard",
          title: "Intuitive Dashboards",
          subTitle: `Navigate with ease using ScrewFast's intuitive dashboards. Set up and
            oversee your projects seamlessly, with user-friendly interfaces designed
            for quick and effective workflow management.`,
        },
        {
          id: 3,
          icon: "castle",
          title: "Robust Features",
          subTitle: `Minimize complexity, maximize productivity. ScrewFast's robust features 
            are engineered to streamline your construction process, delivering results
            that stand out for their excellence.`,
        },
      ]}
    />
  </div>
</MainLayout>
