---
import type { HTMLAttributes } from "astro/types";
import FeatureCard from "./features/feature-card.astro";

type FeatureCardParameters = Parameters<typeof FeatureCard>[0];

interface FeatureCardType extends FeatureCardParameters {
  id: number;
  subtitle: string;
}

interface Props extends HTMLAttributes<"div"> {
  cards: FeatureCardType[];
}

const { cards } = Astro.props;
---

<div>
  <div class="grid grid-cols-1 gap-4 xl:grid-cols-3 xl:gap-8">
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-bold">Meeting Industry Demand</h2>
      <p>
        At ScrewFast, we tackle the unique challenges encountered in the
        hardware and construction sectors. From cutting-edge tools to expert
        services, we're dedicated to helping you overcome obstacles and achieve
        your goals.
      </p>
    </div>
    <div
      class="col-span-1 grid grid-cols-2 grid-rows-2 gap-10 p-4 xl:col-span-2 xl:p-0"
    >
      {
        cards
          .sort((a, b) => b.id - a.id)
          .map(({ icon, title, subtitle }) => (
            <FeatureCard icon={icon} title={title}>
              {subtitle}
            </FeatureCard>
          ))
      }
    </div>
  </div>
</div>
