---
import FourthCard from "./fourth/fourth-card.astro";
---

<div class="mt-8 grid gap-12 rounded-2xl bg-secondary p-16">
  <h2 class="text-3xl font-bold">
    Customize ScrewFast's offerings to perfectly suit your hardware and
    construction needs.
  </h2>
  <card-selector class="grid gap-4">
    <FourthCard key="fc-1" icon="pencil-ruler" title="Cutting-Edge Tools">
      Empower your projects with ScrewFast's cutting-edge tools. Experience
      enhanced efficiency in construction management with our sophisticated
      automated solutions.
    </FourthCard>
    <FourthCard key="fc-2" icon="layout-dashboard" title="Intuitive Dashboards">
      Navigate with ease using ScrewFast's intuitive dashboards. Set up and
      oversee your projects seamlessly, with user-friendly interfaces designed
      for quick and effective workflow management.
    </FourthCard>
    <FourthCard key="fc-3" icon="castle" title="Robust Features">
      Minimize complexity, maximize productivity. ScrewFast's robust features
      are engineered to streamline your construction process, delivering results
      that stand out for their excellence.
    </FourthCard>
  </card-selector>
</div>

<script>
  class CardSelector extends HTMLElement {
    connectedCallback() {
      const cards = this.querySelectorAll(`div[id="fcard"]`);

      if (!cards || cards.length < 1) {
        throw new Error("No card found in the card selector.");
      }

      let selectedKey = cards[0].getAttribute("data-key");
      cards[0].setAttribute("data-selected", "true");

      cards.forEach((card) => {
        card.addEventListener("click", () => {
          const cardKey = card.getAttribute("data-key");

          if (cardKey === selectedKey) return;

          cards.forEach((c) => c.setAttribute("data-selected", "false"));

          selectedKey = cardKey;
          card.setAttribute("data-selected", "true");
        });
      });
    }
  }
  customElements.define("card-selector", CardSelector);
</script>
