---
import StarRating from "@/components/star-rating.astro";
interface Props {
  subTitle: string;
  rating: number;
  reviews: string;
}

const { subTitle, rating, reviews } = Astro.props;
---

<div class="grid grid-cols-2">
  <div class="flex flex-col gap-5 pe-24 xl:pe-56">
    <slot name="title" />
    <div class="pb-4 pe-8">
      <p class="text-lg leading-7 text-card-foreground" slot="sub-title">
        {subTitle}
      </p>
    </div>
    <div class="grid gap-12">
      <div class="grid xl:pe-32">
        <slot name="button-section" />
      </div>
      <div class="grid justify-center gap-1">
        <div class="flex">
          <StarRating rating={rating} />
          <p class="font-bold">{rating}</p>/ 5
        </div>
        <p>From Over <span class="font-bold">{reviews}</span> Reviews</p>
      </div>
    </div>
  </div>
  <slot name="right-section" />
</div>
