---
import StarRating from "@/components/star-rating.astro";

interface Props {
  rating: number;
  reviews: string;
}

const { rating, reviews } = Astro.props;
---

<div class="grid grid-cols-2">
  <div class="flex flex-col gap-5 pe-24 xl:pe-32">
    <slot name="title" />
    <div class="pb-4 pe-8">
      <slot name="subtitle" />
    </div>
    <div class="grid xl:pe-32">
      <slot name="button-section" />
    </div>
    <div class="grid justify-center gap-1 pt-4">
      <div class="flex">
        <StarRating rating={rating} />
        <p class="font-bold">{rating}</p>/ 5
      </div>
      <p>From Over <span class="font-bold">{reviews}</span> Reviews</p>
    </div>
  </div>
  <slot name="right-section" />
</div>
