---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class=`text-center text-md font-bold transition-colors ${Astro.url.pathname === href ? "text-primary": "text-card-foreground hover:text-primary"}` href={href}>
  <slot />
</a>
