---
import type { IconName } from '@/lib/lucide';
import Icon from './ui/icon.astro';

interface Props {
  rating: number;
  fullStar?: IconName;
  halfStar?: IconName;
}

const { rating, fullStar, halfStar } = Astro.props;
---

<div class="flex">
  {
    Array.from({ length: Math.floor(rating) }).map(
      () => (<Icon class="text-yellow-500" icon={fullStar ?? "star"} />),
    )
  }
  {rating % 1 >= 0.5 && <Icon class="text-yellow-500" icon={halfStar ?? "star-half"}/>}
</div>
