---
import Button from "./ui/button.astro";
import Icon from "./ui/icon.astro";
---

<theme-changer>
  <Button class="rounded-full px-3" variant="ghost">
    <Icon class="dark:flex hidden transition-all" icon="sun" />
    <Icon class="dark:hidden flex transition-all" icon="moon" />
  </Button>
</theme-changer>

<script>
  class ThemeChanger extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");

      if (!button) {
        console.error("Button not found.");
        return;
      }

      button.addEventListener("click", () => {
        document.body.classList.toggle("dark");
      });
    }
  }
  customElements.define("theme-changer", ThemeChanger);
</script>
