---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class={cn("font-semibold leading-none tracking-tight", className)} {...props}>
  <slot />
</div>
