<h1 class="group flex select-none text-2xl font-bold text-card-foreground *:transition-all *:duration-300 *:ease-out">
  <span class=" w-0 overflow-clip group-hover:w-3">E</span>
  <span>M</span>
  <span>R</span>
  <span class=" w-0 overflow-clip group-hover:w-3">E</span>
  <span class=" w-0 overflow-clip group-hover:w-3"> </span>
  <span>C</span>
  <span class=" w-0 overflow-clip group-hover:w-[15px]">A</span>
  <span>N</span>
  <span class=" w-0 overflow-clip group-hover:w-3"> </span>
  <span class=" w-3 overflow-clip group-hover:w-0">C</span>
  <span class=" w-0 overflow-clip group-hover:w-24">ÇORAPÇI</span>
</h1>