---
import Header from "./header.astro";
import "../style/globals.css";

interface Props {
  meta: {
    title: string;
    description?: string;
    keywords?: string;
    author?: string;
  };
}

const { meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords} />
    <meta name="author" content={meta.author ?? "Emre Can Çorapçı"} />
    <title>{meta.title}</title>
  </head>
  <body
    class="dark flex w-full justify-center bg-background p-4 text-zinc-900 transition-all dark:text-zinc-200"
  >
    <div class="flex w-full max-w-screen-2xl flex-col items-center">
      <Header />
      <main class="flex w-full flex-col justify-center px-6">
        <slot />
      </main>
    </div>
  </body>
  <script src="../lib/lucide.ts"></script>
</html>
